td { font-family: cursive; color:#0b0b0c; background-color: #848b8b; }

h1 { font-family: cursive; }

P { font-family: cursive; width:50px; height:20px; background-color: #da7cbf; text-align: right }

h3 { font-family: cursive; width:50px; height:30px; color:#f5f5f8; background-color: #b8564f; text-align: right }

h4 { font-family: cursive; width:50px; height:20px; background-color: #e4db60; text-align: right }
